.container{
   margin: 0px;
   padding: 40px;
}
.head{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.uno{
   width: 22%;
   height: 500px;
   text-align: justify;
   margin: 0px 10px;
   
}
.dos{
    width: 22%;
    text-align: justify;
   margin: 0px 10px;
}
.tres{
    width: 24%; 
    height: 300px;
    text-align: justify;
   margin: 0px 10px;  
}
.cuatro{
    width: 24%;
    text-align: justify;
   margin: 0px 10px;
}
.foot{
    
    display: flex;
    align-self:center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    
}
.cinco{
    width: 22%;
    text-align: justify;
   margin: 10px 10px;
   padding: 0px 10px;
  
}
.seis{
    width: 22%;
    text-align: justify;
   margin: 10px 10px;
}
h1{
    color: blue;
}
.img1{
    width: 215px;
}
.img2{
    width: 220px;
}
.img3{
    width: 250px;
}
.img4{
    width: 230px;
}
.img5{
    width: 230px;
}
.img6{
    width: 240px;
    height: 100px;
    padding: 30px 0px;
}