#container{
    padding: 40px;
}


.uno{
    background-color: rgb(25, 16, 32);
    width: 990px;
    height: 200px;
    color:white;
    padding: 20px;
}
.cero{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman';
}
p{
    font-weight:lighter;
}
.tercero{
    font-weight: bold;
}

.dos{
    width: 255px;
    height: 350px;
    float: left;

}
.tres{
    width: 260px;
    height: 350px;
    background-color: grey;
    float: left;
    
}
.cuarto{
    
    padding: 110px 20px;
}
.ceros{
    color:blue;
}

h3{
    font-weight: lighter;
    color: grey;
}
.segundo{
    color:blue;
}
.cuatro{
    width: 255px;
    height: 350px;
    float: left;
}
.tec{
    color:green;
}
.cinco{
    width: 260px;
    height: 350px;
    background-color: grey;
    float: left;
}
.quinto{
    padding: 110px 20px;
}
.con{
    color:blue
}