* {
    margin: 0px;
    padding: 0px;
}
.container{
    margin: auto;
    width: 1000px;
    padding:50px;
    
}
header{
    display: flex;
    align-items: center;
    background: rgb(126, 125, 125);
    margin: auto;
    height: 80px;
}
h2{
    color:rgb(63, 62, 62)
}

.elemento1{
    color: rgb(44, 5, 116);
    
    font-size: x-large;
}

.elemento2{
    text-align: end;
}
.hijo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
h4{
    color: white;
    text-align: center;
}
.elemento3{
    background: skyblue;
    width: 30%;
    border-radius: 25px 0px;
    text-align: center;
}

.elemento4{
    background: rgb(139, 139, 43);
    width: 30%;
    border-radius: 25px 0px;
    text-align: center;
}
.elemento5{
    background: pink;
    width: 30%;
    border-radius: 25px 0px;
    text-align: center;
}
.imagen{
   width: 100px;
   height: 80px;
}

.elemento6{
    background: rgb(124, 123, 123);
    border-radius: 30px 0px 30px 0px;
    text-align: center;
    padding: 15px;
    color: white;
    
}
.elemento7{
    background: rgb(226, 221, 221);
    border-radius: 30px 0px 30px 0px;
    color: black;
}
.tv{
    width: 200px;
    height: 150px;
}
.footer{
    background: black;
    color: white;
    text-align: center;
    padding: 2px;
}
span{
   color: rgb(19, 17, 168);
}
