#uno{
    width: 1000px;
    height: 100px;
}
h2{
    font-style: italic;
}

.pagina{
    font-style: italic;
}
#data{
    font-weight: bold;
    width: 1000px;
    height: 50px;
    background-color: grey;
}
.dos{
    font-weight: bold;
}
.segundo:hover{
    background-color: aqua;
}/*
 p::first-letter{
    font-size: 150%;
    color:red;
}*/
.seg{
    font-size: 20px;
}
.azul{
    color:blue;
}
.primer:hover{
 font-size: 20px;
}
.fondo:hover{
    background-color: grey;
}
.rojo{
    color:red;
}
.seg:hover{
    font-size:20px;

}
