*{
    margin: 0;
    padding: 0;
}

#contenedor{
    width: 1200px;
    height: 1000px;
    margin: 0.5em auto;
    padding: 0.5em;
}

#header{
    
    height: 20%;
    background: #A4A4A4;
    border-radius: 1em;
    margin: 1em;
}

#nav{
    height: 10%;
    background:#424242 ;
    border-radius: 1em;
    margin: 1em;
}

#contenido{

    height: 50%;
    
}
#footer{
    height: 30%;
    background: #424242;
    border-radius: 1em;
    margin: 1em;

}

#section{
    height: 95%;
    width:60% ;
    background:#A4A4A4 ;
    border-radius: 1em;
    margin: 1em;
    float: left;
}

#aside{
    height: 95%;
    width: 36%;
    background: #A4A4A4;
    border-radius: 1em;
    float: right;
    margin: 0.5em;

}

.articulo{
    width: 95%;
    height: 20%;
    background: #424242;
    margin: 0.5em;
    border-radius: 1em;
}
